<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Sing  Up</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
        <link th:href="@{/css/Sing_up.css}" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/0c53053c39.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="continer">
            <div class="left-side">
                <div class="logo">
                    <img th:src="@{/Images/icons8-medical-doctor-100.png}" src="../static/Images/icons8-medical-doctor-100.png" alt="logo"/>
                    <h1>WCare</h1>
                </div>
                <div class="main-content">
                    <h1>Sign Up</h1>

                    <form action="#" th:action="@{/cabine/signup}" th:object="${account}"
                          method="post" >
                            <input type="text" th:field="*{email}" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <input type="password" th:field="*{password}" minlength="10" id="Password">
                        <button type="submit" class="btn btn-outline-dark">Next</button>
                    </form>
                </div>
            </div>
            <div class="right-side">
           <!--     <div class="menu">
                    <button><a href="../html/Sing in.html">Sign In</a></button>
                </div>-->
               <div class="image">
                   <img th:src="@{/Images/Groupe_131.png}" src="../static/Images/Groupe_131.png" alt="medicament">
               </div>
               <div class="social-media">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-google"></i></a>
            </div>
           
          </div>
    </body>
    </html>